import {
  Meta,
  Story,
  Props,
  Description,
  Preview,
} from "@storybook/addon-docs/blocks";
import { {{properCase name}} } from "./{{properCase name}}";

<Meta title="Components | FIXME / {{properCase name}}" component={ {{~properCase name~}} } />

# {{properCase name}}

<Description of={ {{~properCase name~}} } />

<Preview withToolbar>
  <Story name="Example">
    <{{properCase name}}>
      <span>FIXME</span>
    </{{properCase name}}>
  </Story>
</Preview>

<Props of={ {{~properCase name~}} } />

## Usage

### Default {{name}}

FIXME: Use to
